html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.social-icons span{
    display: inline-block;
    margin: 15px;
    padding: 15px;
    text-transform: uppercase;
    color: #fff;
}

.dribble{
    background-color: #ea4c89;
}

.facebook{
    background-color: #3b5998;  
}

.instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.linked-in{
    background-color: #0e76a8;
}

.pinterest{
    background-color: #BD081C;
}

.stack-overflow{
    background-color: #F48024;
}

.twitter{
    background-color: #1DA1F2;
}

.whatsapp{
    background-color: #4FCE5D;
}

.youtube{
    background-color: #FF0000;
}