html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nuzuql');
  src:  url('fonts/icomoon.eot?nuzuql#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nuzuql') format('truetype'),
    url('fonts/icomoon.woff?nuzuql') format('woff'),
    url('fonts/icomoon.svg?nuzuql#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dribble:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-linkedin:before {
  content: "\e902";
}
.icon-pinterest:before {
  content: "\e903";
}
.icon-stack-overflow:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e905";
}
.icon-whatsapp:before {
  content: "\e906";
}
.icon-youtube:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e908";
}

.social-icons > div{
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    color: #fff;
}

.social-icons span{
    display:inline-block;
    line-height: 80px;
    font-size: 60px;
}

.dribble{
    background-color: #ea4c89;  /*French Rose*/
}

.facebook{
    background-color: #3b5998;  /*Mariner*/
}

.instagram{
    background: radial-gradient(circle at 30% 107%, 
                                #fdf497 0%, 
                                #fdf497 5%, 
                                #fd5949 45%,
                                #d6249f 60%,
                                #285AEB 90%);
}

.linked-in{
    background-color: #0077b5; /*Cerulean*/
}

.pinterest{
    background-color: #BD081C; /*Venetian Red*/
}

.stack-overflow{
    background-color: #F48024; /*Pumpkin*/
}

.twitter{
    background-color: #1DA1F2; /*Dodger Blue*/
}

.whatsapp{
    background-color: #4FCE5D; /*UFO Green*/
}

.youtube{
    background-color: #FF0000; /*Red*/
}